.App {
    background-color: #282c34;
    flex: 1;
    min-width: 100vw;
    min-height: 100vh;
    color: grey;
}

.App > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: calc(20px + 2vmin);
    color: white;
    padding: 20px;
    text-align: center;

}

.subheader {
    text-align: center;
    font-size: calc(15px + 2vmin);
    color: #ffffff;
    padding: 10px;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
}