.ingredient {
    align-items: center;
    font-size: calc(16px + 0.5vmin);
    text-align: left;
    max-width: 80vw;
}

.ingredientIcon {
    font-size: calc(10px + 2vmin);
}

.small-text {
    font-size: calc(5px + 2vmin);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}