.ingredient {
    font-size: calc(10px + 2vmin);
    text-align: left;
    max-width: 80vw;
}

.ingredientIcon {
    padding: 1vw;
    font-size: calc(15px + 2vmin);
}

.small-text {
    font-size: calc(5px + 2vmin);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}